/* header {
  background-color: #f2f3f5;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  height: 40px;
  border-radius: 3px;
} */

/* img {
  width: 40px;
  margin-right: 5px;
  border-radius: 50%;
} */

/* #navUl {
  margin-left: 10px; /* Adds some space between button and navUl */

