<div class="bg-gray-100">
  <div class="container text-center">
    <h2
      class="font-serif text-5xl mt-8 relative inline-block after:content-[''] after:block after:w-3/4 after:h-1 after:bg-blue-500 after:mt-4 after:mx-auto"
    >
      Men clothes
    </h2>
  </div>
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
    >
      <div class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/jacket4.jpg"
              alt="Two each of gray, white, and black shirts laying flat."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              classic jacket <br />AXA co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/jacket.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1">
              OG white-shirt <br class="text-gray-700" />Mego co.
            </h3>

            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/jacket2.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="capitalize mt-2 text-sm text-gray-700 ml-4 mr-1">
              pumb jacket <br class="text-gray-700" />Mego co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/jacke3.jpg"
              alt="Front of men&#039;s Basic Tee in black."
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              red devil <br />AXA co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <!-- More products... -->
    </div>
    <h2 class="text-5xl font-serif text-center mt-5">Sports clothes</h2>
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 mt-20"
    >
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/real-shirt.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              real madrid <br />AXA co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $55
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/barca-shirt.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              barca <br />AXA co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/spain.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              euro winners <br />AXA co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/alahly.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              red devil <br />AXA co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>

      <!-- More products... -->
    </div>
    <h2 class="text-5xl font-serif text-center mt-5">Boots</h2>
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 mt-20"
    >
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/nikeboots.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              nike boots <br />nike
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <a href="#">
            <img
              src="assets/images/boots2.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </a>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              adiddas style <br />adiddas
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <div href="#">
            <img
              src="assets/images/boots3.jpg"
              alt="Hand holding black machined steel mechanical pencil with brass tip and top."
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </div>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              nike boots <br />nike
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <div href="#" class="group">
        <div
          class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
        >
          <div href="#">
            <img
              src="assets/images/boots4.jpg"
              alt="Hand holding black "
              class="h-72 w-full object-cover object-center group-hover:opacity-75"
              href="#"
            />
          </div>
        </div>
        <div class="bg-white rounded-md -mt-3">
          <div class="mt-2">
            <i class="fa-solid fa-star text-yellow-400 ml-4 mr-1 mt-4"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-solid fa-star text-yellow-400 mr-1"></i>
            <i class="fa-regular fa-star text-yellow-400 mr-1"></i>
            <h3 class="mt-2 text-sm text-gray-700 ml-4 mr-1 capitalize">
              adidas boots <br />adidas co.
            </h3>
            <p
              class="text-lg font-medium text-gray-900 flex flex-row-reverse mr-4 py-2"
            >
              $48
            </p>
          </div>
          <!-- Container for button -->
          <div class="flex justify-center mt-4 mx-4">
            <button
              class="ml-1 mb-3 bg-green-500 text-white hover:bg-green-600 hover:text-white border border-green-500 py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-violet-300"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
      <!-- More products... -->
    </div>
  </div>
</div>
